<div>
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Shiba Inu mat card</mat-card-subtitle>
          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </mat-card-title-group>
        <mat-card-content>
            {{dummyData}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Pomeranian</mat-card-title>
          <mat-card-subtitle>Pomeranian mat card</mat-card-subtitle>
          <img mat-card-sm-image src="../../../assets/pomeranian.jpg" width="100%">
        </mat-card-title-group>
        <mat-card-content>
            {{dummyData}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Shih Tzu</mat-card-title>
          <mat-card-subtitle>Shih-Tzu mat card</mat-card-subtitle>
          <img mat-card-sm-image src="../../../assets/shih-tzu.jpeg" >
        </mat-card-title-group>
        <mat-card-content>
            {{dummyData}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Shiba Inu mat card</mat-card-subtitle>
          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </mat-card-title-group>
        <mat-card-content>
            {{dummyData}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Pomeranian</mat-card-title>
          <mat-card-subtitle>Pomeranian mat card</mat-card-subtitle>
          <img mat-card-sm-image src="../../../assets/pomeranian.jpg" width="100%">
        </mat-card-title-group>
        <mat-card-content>
            {{dummyData}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Shih Tzu</mat-card-title>
          <mat-card-subtitle>Shih-Tzu mat card</mat-card-subtitle>
          <img mat-card-sm-image src="../../../assets/shih-tzu.jpeg" >
        </mat-card-title-group>
        <mat-card-content>
            {{dummyData}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Shiba Inu mat card</mat-card-subtitle>
          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </mat-card-title-group>
        <mat-card-content>
            {{dummyData}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Pomeranian</mat-card-title>
          <mat-card-subtitle>Pomeranian mat card</mat-card-subtitle>
          <img mat-card-sm-image src="../../../assets/pomeranian.jpg" width="100%">
        </mat-card-title-group>
        <mat-card-content>
            {{dummyData}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Shih Tzu</mat-card-title>
          <mat-card-subtitle>Shih-Tzu mat card</mat-card-subtitle>
          <img mat-card-sm-image src="../../../assets/shih-tzu.jpeg" >
        </mat-card-title-group>
        <mat-card-content>
            {{dummyData}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
    </mat-card>
</div>