.example-card{
    height: 100%;
    width: 95%;
}
.example-viewport {
    height: 840px;
    width: 100%;
    border: 1px solid black;
  }
.location{
    border: 3px solid black;
    background-color: white;
    padding-left: 10px;
    width: 95%;
  }
  .container {
    height: 50px;
    position: relative;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  